body {
    padding: 0px;
    margin-left: unset;
    margin-right: unset;
    background-color: whitesmoke);
    color: black;
    font-size: 16px;
    font-family: sans-serif;
}

h1 {
    font-size: 200%;
    color: purple;
    font-style: normal;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-size: 180%;
    color: purple;
    font-style: normal;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    font-size: 160%;
    color: purple;
    font-style: normal;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

p {
    color: #000;
    text-align: justify;
    font-size: 125%;
    vertical-align: baseline;
    line-height: 150%;
    font-style: unset;
}


/* img {

} */

.navbar-brand {
    background-color: purple;
    font-size: 1.8em;
    margin-right: 40px;
    font-family: serif;
}

.dropdown-item {
    color: purple;
    font-size: 1em;
}


/* .nav-link {
    margin-right: 40px;
    font-family: serif;
} */


/* @media{

} */

.table {
    margin: auto;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    padding: 10px 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666;
    color: white;
    text-align: center;
}